<!DOCTYPE html>

<%- include('../partials/head'); %>

  <body class="container">
    <%- include('../partials/header', {pagina: 'about' }); %>

      <main>
        <div class="jumbotron">
          <h1>Sobre Mim</h1>
          <p>Olá, eu sou Lucas Almeida. Estudante de programação :) </p>
        </div>

      </main>

      <%- include('../partials/footer'); %>

  </body>

  </html>